asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
bleach==2.1.1
bsddb3==6.2.4
cffi==1.10.0
constantly==15.1.0
cryptography==1.9
cssselect==1.0.1
decorator==4.1.2
entrypoints==0.2.3
et-xmlfile==1.0.1
html5lib==1.0b10
hyperlink==17.2.1
idna==2.5
incremental==17.5.0
ipython-genutils==0.2.0
jdcal==1.3
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-core==4.3.0
lxml==3.8.0
MarkupSafe==1.0
mistune==0.7.4
mysqlclient==1.3.10
nbconvert==5.3.1
nbformat==4.4.0
numpy==1.13.1
olefile==0.44
openpyxl==2.4.8
pandas==0.20.3
pandocfilters==1.4.2
parsel==1.2.0
Pillow==4.1.1
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.17
PyDispatcher==2.0.5
Pygments==2.2.0
pyOpenSSL==17.0.0
python-dateutil==2.6.1
pytz==2017.2
queuelib==1.4.2
redis==2.10.5
Scrapy==1.4.0
scrapy-deltafetch==1.2.1
scrapy-magicfields==1.1.0
scrapy-redis==0.6.8
scrapyd==1.2.0
scrapyd-client==1.1.0
selenium==3.4.3
service-identity==17.0.0
six==1.10.0
testpath==0.3.1
traitlets==4.3.2
Twisted==17.5.0
w3lib==1.17.0
webencodings==0.5.1
xlrd==1.1.0
zope.interface==4.4.2
